* {
  margin: 0;
  padding: 0;
}
:root {
  --color-1: #14365d;
  --bg-color: #031927;
  /* --color-1: #c5adc5; */
  --color-2: #a96762;
  --color-3: #001242;
}
#preloader {
  background: var(--bg-color) url(img/loader.gif) no-repeat center center;
  background-size: 15%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
.hero {
  background-image: linear-gradient(rgb(3, 25, 39, 0.7), rgb(3, 25, 39));
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(rgba(0, 4, 31, 0.6), rgb(0, 0, 0, 0.9)); */
  position: relative;
}
nav .menu {
  filter: invert(100%);
  font-weight: 500;
  font-size: 30px;
}
.bg_vdo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .bg_vdo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg_vdo {
    width: auto;
    height: 100%;
  }
}
.navbar ul li {
  color: #ffffff89;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.navbar li:hover {
  color: #fff;
  border-bottom: 3px solid var(--color-2);
}
.logo {
  font-weight: 800;
  color: #fff;
}
.logo:hover {
  color: var(--color-2);
}
i {
  filter: invert(100%);
}
.hero button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: none;
  color: #fff;
  /* transition: 0.5s; */
}
.wlcm {
  width: 100%;
  min-height: 60vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wlcm .book_btn {
  border: 3px solid #ff0008;
  background: #88000550;
  animation-delay: 1.5s;
}
.wlcm .expo_btn {
  border: 3px solid #001eff;
  background: #000f8350;
  animation-delay: 2s;
}
.book_btn:hover {
  border: 3px solid #be0006;
  background: #be0006;
}
.expo_btn:hover {
  border: 3px solid #0015b8;
  background: #0015b8;
}
.wlcm h1 {
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s;
}
.wlcm h1 span {
  color: var(--color-2);
}
.wlcm p {
  cursor: pointer;
  animation-delay: 1s;
}
/* .wlcm h1:hover {
  transform: translateY(-30px);
}
.wlcm p:hover {
  transform: translateY(20px);
} */
.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Home page end */
/* -------------Room cards start-------------- */
.room_cards {
  background-color: var(--bg-color);
  color: #fff;
}
.room_cards a {
  text-decoration: none;
  color: #fff;
}
.room_cards h1 {
  margin-bottom: 40px;
}
.room_cards h1 span {
  color: var(--color-2);
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .wlcm .wlcm_box {
    width: 80%;
  }
  /* ---------------ball animation starts------------------- */
  .color_balls {
    display: flex;
    justify-content: end;
    margin-right: 170px;
  }
  .color_balls .circle1 {
    width: 25px;
    height: 25px;
    background-color: #16ff00;
    border-radius: 50%;
    animation-delay: 1s;
  }
  .color_balls .circle2 {
    width: 25px;
    height: 25px;
    background-color: #9400ff;
    border-radius: 50%;
    animation-delay: 1.5s;
  }
  .color_balls .circle3 {
    width: 25px;
    height: 25px;
    background-color: #ff0303;
    border-radius: 50%;
    animation-delay: 2s;
  }
  .anim_ball {
    opacity: 0;
    transform: translateY(-80px);
    animation: movedown 0.5s linear forwards;
  }
  @keyframes movedown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /* ----------------ball animation end-------------------- */
  .room_cards .container {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
    box-sizing: border-box;
  }
  .room_cards .card_img {
    flex: 1;
    overflow: hidden;
    transition: 1s;
    position: relative;
  }
  .card_img img {
    height: calc(90% - 10vh);
    object-fit: cover;
    box-shadow: 0px 1px 1px #000;
    transition: 1.5s;
  }
  .card_img span {
    background-color: #0303039a;
    display: block;
    padding: 10px 0 0 0;
    /* min-width: 100%; */
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 80%;
  }
  .card_img button {
    padding: 8px 16px;
    color: #fff;
    position: absolute;
    left: 240px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.3s;
  }
  .card_img .cardexp_btn {
    margin-left: 130px;
    background-color: #0077ff49;
    border: 3px solid #fff;
  }
  .card_img .cardres_btn {
    margin-right: 130px;
    background-color: #ff030349;
    border: 3px solid #fff;
  }
  .card_img .cardres_btn:hover {
    background-color: #ff0303;
  }
  .card_img .cardexp_btn:hover {
    background-color: #0079ff;
  }

  .card_img:hover {
    flex: 1 1 50%;
    cursor: pointer;
  }
  .card_img:hover img {
    width: 100%;
  }
  .card_img:hover button {
    opacity: 1;
    bottom: 250px;
  }
  .card_img:hover span {
    height: 30px;
    background-color: #fdfdfd9a;
    color: #000;
    padding: 0;
  }
}
/* -------------Room cards end-------------- */

/* ---Rooms page css --------*/
#rooms {
  background-color: var(--bg-color);
  color: #fff;
  padding-bottom: 20px;
}

#rooms .card0 {
  background-color: var(--color-1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#rooms .card1 {
  background-color: var(--color-2);
}

/* -------------rooms page end---------------- */
/* -----------Services page start------------ */
#services {
  height: 100vh;
}
#services .service {
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
#services .service_list {
  display: grid;
  margin: 30px 300px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "i1 i2 i3 i4"
    "i5 i5 i6 i6";
  gap: 10px;
  row-gap: 20px;
}
.icon1 {
  grid-area: i1;
}
.icon2 {
  grid-area: i2;
}
.icon3 {
  grid-area: i3;
}
.icon4 {
  grid-area: i4;
}
.icon5 {
  grid-area: i5;
}
.icon6 {
  grid-area: i6;
}

#services .icon {
  display: grid;
  justify-content: center;
}
#services .bg_img {
  height: 60vh;
}
#services h1 span {
  color: var(--color-2);
  font-weight: 700;
}
.service_list span {
  display: grid;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 5px;
}
.service_list p {
  font-size: 20px;
  font-weight: 500;
}

body .bg_hotel {
  height: 100vh;
  background-image: url(img/bg_hotel.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* ---------contact page start----------- */
#contact {
  background-color: var(--bg-color);
  color: #fff;
}
#contact .contact_form {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}
.contact_form button {
  width: 100px;
  margin: 15px 0;
  padding: 5px 5px;
  background: none;
  border: none;
  color: #fff;
  border: 2px solid #fff;
}
.contact_form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contact_form label {
  margin-top: 15px;
  font-size: 18px;
}
.contact_form input {
  padding: 5px;
  margin-top: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}
#contact h1 {
  color: var(--color-2);
}

/* ---------contact page end----------- */
@media all and (max-width: 600px) {
  html,
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  /* ---------------ball animation starts------------------- */
  .color_balls {
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
  .color_balls .circle1 {
    width: 15px;
    height: 15px;
    background-color: #16ff00;
    border-radius: 50%;
    animation-delay: 1s;
  }
  .color_balls .circle2 {
    width: 15px;
    height: 15px;
    background-color: #9400ff;
    border-radius: 50%;
    animation-delay: 1.5s;
  }
  .color_balls .circle3 {
    width: 15px;
    height: 15px;
    background-color: #ff0303;
    border-radius: 50%;
    animation-delay: 2s;
  }
  .anim_ball {
    opacity: 0;
    transform: translateY(-80px);
    animation: movedown 0.5s linear forwards;
  }
  @keyframes movedown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /* ----------------ball animation end-------------------- */
  .logo {
    margin: 0px 20px;
  }
  .wlcm p {
    text-align: center;
    margin: 5px 4px 10px;
  }
  /* Room cards start */
  .room_cards .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
  }
  .room_cards h1 {
    padding-top: 15px;
  }
  .room_cards .card_img {
    flex: 1;
    overflow: hidden;
    transition: 1s;
    position: relative;
  }
  .card_img img {
    height: calc(100% - 1vh);
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 1px 1px #000;
    transition: 1.5s;
  }
  .card_img span {
    background-color: #0303039a;
    display: block;
    padding: 10px 0 0 0;
    /* min-width: 100%; */
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 95%;
  }
  .card_img button {
    padding: 6px 12px;
    color: #fff;
    position: absolute;
    left: 240px;
    bottom: 0;
    opacity: 0;
    transition: bottom 1.5s;
  }
  .card_img .cardexp_btn {
    margin-left: 130px;
    background-color: #0077ff49;
    border: 3px solid #fff;
  }
  .card_img .cardres_btn {
    margin-right: 130px;
    background-color: #ff030349;
    border: 3px solid #fff;
  }
  .card_img .cardres_btn:hover {
    background-color: #ff0303;
  }
  .card_img .cardexp_btn:hover {
    background-color: #0079ff;
  }

  .card_img:hover {
    flex: 1 1 50%;
    cursor: pointer;
  }
  .card_img:hover img {
    width: 100%;
  }
  .card_img:hover button {
    opacity: 1;
    display: grid;
    justify-content: center;
    bottom: 80px;
    left: 85px;
  }
  .card_img:hover span {
    height: 30px;
    background-color: #fdfdfd9a;
    color: #000;
    padding: 0;
  }
  /* -------------Room cards end-------------- */
  #services {
    width: 100%;
    height: 100vh;
  }
  #services .service_list {
    display: grid;
    margin: 30px 5px;
    margin-right: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
  }
  .service_list span {
    font-size: 25px;
    display: grid;
    justify-content: center;
  }
}
